app/inc/footer.html

<div class="sidebar-footer">
  <ul>
    <li><a href="home.html"><img src="img/group15.png" alt=""/></a></li>
    <li class="text-center"><a href="ranking1.html"><img src="img/group16.png" alt=""/></a></li>
    <li class="text-right"><a href="ranking.html"><img src="img/group17.png" alt=""/></a></li>
  </ul>
</div>

app/views/inc/footer.pug
.sidebar-footer
    ul
        li
            a(href="home.html")
                img(src="img/group15.png", alt="")
        li.text-center
            a(href="ranking1.html")
                 img(src="img/group16.png", alt="")
        li.text-right
            a(href="ranking.html")
                img(src="img/group17.png", alt="")
