app/views/contacto.pug
extends layout
block content
    .contacto
        .col-lg-12
            .logo-titulo
                img(src="img/logo1.png", alt="")
                hr.raya
                p PREGUNTADOS
            .formulario
                form
                    .form-group1
                        input#formGroupExampleInput.form-control(type='text', placeholder='Usuario')
                    .form-group1
                        input#formGroupExampleInput.form-control(type='text', placeholder='Contraseña')
                button.buttom-pink.btn.btn-lg.btn-block(type='button') INGRESAR

app/contacto.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dunkin-donuts</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.3">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.min.css">
  </head>
  <body>
    <div class="contacto">
      <div class="col-lg-12">
        <div class="logo-titulo"><img src="img/logo1.png" alt="">
          <hr class="raya">
          <p>PREGUNTADOS</p>
        </div>
        <div class="formulario">
          <form>
            <div class="form-group1">
              <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Usuario">
            </div>
            <div class="form-group1">
              <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Contraseña">
            </div>
          </form>
          <button class="buttom-pink btn btn-lg btn-block" type="button">INGRESAR</button>
        </div>
      </div>
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js?v=1.3"></script>
    <script src="js/ruleta.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
  </body>
</html>
