app/views/espera.pug
extends layout
block content
    include inc/menu

    .espera
        .resultado
            .dato
                h4 <span>01</span> Correctas
                h4 <span>04</span> Incorrectas
            img(src="img/group11.png", alt="")
            h2 Espera la respuesta de tu oponente. Luego de su partida te informaremos de los resultados.
        button.buttom-pink.btn.btn-lg.btn-block(type='button') ACEPTAR


    include inc/footer

app/espera.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dunkin-donuts</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.3">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.min.css">
  </head>
  <body>
    <div class="sidebar-menu">
      <ul>
        <li><a href=""><img src="img/icon.png" alt=""></a></li>
        <li><a href=""><img src="img/icon2.png" alt=""></a></li>
        <li><a href=""><img src="img/group4.png" alt=""></a></li>
      </ul>
    </div>
    <div class="espera">
      <div class="resultado">
        <div class="dato">
          <h4><span>01</span> Correctas</h4>
          <h4><span>04</span> Incorrectas</h4>
        </div><img src="img/group11.png" alt="">
        <h2>Espera la respuesta de tu oponente. Luego de su partida te informaremos de los resultados.</h2>
      </div>
      <button class="buttom-pink btn btn-lg btn-block" type="button">ACEPTAR</button>
    </div>
    <div class="sidebar-footer">
      <ul>
        <li><a href="home.html"><img src="img/group15.png" alt=""></a></li>
        <li class="text-center"><a href="ranking1.html"><img src="img/group16.png" alt=""></a></li>
        <li class="text-right"><a href="ranking.html"><img src="img/group17.png" alt=""></a></li>
      </ul>
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js?v=1.3"></script>
    <script src="js/ruleta.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
  </body>
</html>
