app/haz_ganado.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dunkin-donuts</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.3">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.min.css">
  </head>
  <body>
    <div class="validad">
      <div class="bgwhite"><a href="">
          <div class="img-x"><img src="img/x.png" alt=""></div></a><img class="display" src="img/ganado.png" alt="">
        <button class="mt-105 buttom-pink btn btn-lg btn-block" type="button">CONTINUAR</button>
      </div>
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js?v=1.3"></script>
    <script src="js/ruleta.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
  </body>
</html>

app/views/haz_ganado.pug
extends layout
block content
    .validad
        .bgwhite
            a(href="")
                .img-x
                    img(src="img/x.png", alt="")
            img.display(src="img/ganado.png", alt="")


            button.mt-105.buttom-pink.btn.btn-lg.btn-block(type='button') CONTINUAR
