app/pregunta3.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dunkin-donuts</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.3">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.min.css">
  </head>
  <body>
    <div class="sidebar-menu">
      <ul>
        <li><a href=""><img src="img/icon.png" alt=""></a></li>
        <li><a href=""><img src="img/icon2.png" alt=""></a></li>
        <li><a href=""><img src="img/group4.png" alt=""></a></li>
      </ul>
    </div>
    <div class="pregunta">
      <p>00:<span id="timeLeft">10</span></p>
      <h4>¿Cuál no es una conducta de las 5 U’S?</h4><a class="r-incorrecto" href="">A. Tú eres entusiasta</a><a class="r-incorrecto" href="">B. Tú eres funático</a><a class="r-correcto" href="">C. Tú eres muy callado</a><a class="r-incorrecto" href="">D. Tú lo haces mi Dunkin</a>
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js?v=1.3"></script>
    <script src="js/ruleta.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
  </body>
</html>

app/views/pregunta3.pug
extends layout
block content
    include inc/menu

    .pregunta
        p 00:
            span#timeLeft 10
        h4 ¿Cuál no es una conducta de las 5 U’S?
        a.r-incorrecto(href="") A. Tú eres entusiasta
        a.r-incorrecto(href="") B. Tú eres funático
        a.r-correcto(href="") C. Tú eres muy callado
        a.r-incorrecto(href="") D. Tú lo haces mi Dunkin
