app/rival.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dunkin-donuts</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.3">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.min.css">
  </head>
  <body>
    <div class="sidebar-menu">
      <ul>
        <li><a href=""><img src="img/icon.png" alt=""></a></li>
        <li><a href=""><img src="img/icon2.png" alt=""></a></li>
        <li><a href=""><img src="img/group4.png" alt=""></a></li>
      </ul>
    </div>
    <div class="rival">
      <div class="col-lg-12">
        <div class="dona-central"><img src="img/group21.png" alt="">
          <p>vs</p>
          <h3>Elige tu rival</h3>
        </div><a href="confirma.html">
          <button class="buttom-elige btn btn-lg btn-block" type="button">ELEGIR ALEATORIO</button></a>
        <div class="content-rival">
          <p>ESCOGER A MI RIVAL</p>
          <div class="content-nombre">
            <div class="form-group">
              <input class="form-control" id="formGroupExampleInput" type="text" placeholder="Ingresar nombre...">
            </div><img class="text-center" src="img/nombre.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-footer">
      <ul>
        <li><a href="home.html"><img src="img/group15.png" alt=""></a></li>
        <li class="text-center"><a href="ranking1.html"><img src="img/group16.png" alt=""></a></li>
        <li class="text-right"><a href="ranking.html"><img src="img/group17.png" alt=""></a></li>
      </ul>
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js?v=1.3"></script>
    <script src="js/ruleta.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
  </body>
</html>

app/views/rival.pug
extends layout
block content
    include inc/menu
    .rival
        .col-lg-12
            .dona-central
                img(src="img/group21.png", alt="")
                p vs
                h3 Elige tu rival
            a(href="confirma.html")
                button.buttom-elige.btn.btn-lg.btn-block(type='button') ELEGIR ALEATORIO
            .content-rival
                p ESCOGER A MI RIVAL
                .content-nombre
                    .form-group
                        input#formGroupExampleInput.form-control(type='text', placeholder='Ingresar nombre...')
                    img.text-center(src="img/nombre.png", alt="")
    include inc/footer
