app/rueda.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dunkin-donuts</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.3">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="lib/owl.carousel/dist/assets/owl.carousel.min.css">
  </head>
  <body>
    <div class="sidebar-menu">
      <ul>
        <li><a href=""><img src="img/icon.png" alt=""></a></li>
        <li><a href=""><img src="img/icon2.png" alt=""></a></li>
        <li><a href=""><img src="img/group4.png" alt=""></a></li>
      </ul>
    </div>
    <div class="rueda">
      <p>GIRA LA RUEDA PARA ELEGIR <br> UNA CATEGORIA:</p>
      <div class="box-ruleta"><a href="compromiso.html">
          <div class="box"></div></a>
        <div class="roulette"></div>
        <div class="spinner"><span></span>
          <div class="pointer"></div>
        </div>
      </div>
    </div>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
    <script src="lib/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/map.js"></script>
    <script src="js/main.js?v=1.3"></script>
    <script src="js/ruleta.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
  </body>
</html>

app/views/rueda.pug
extends layout
block content
    include inc/menu
    .rueda
        p GIRA LA RUEDA PARA ELEGIR <br> UNA CATEGORIA:
        .box-ruleta
            a(href="compromiso.html")
                .box
            .roulette
            .spinner
                span

                .pointer
